
<div>
    <form>
        <label for="infoTarea" id="infoTarea">{{labelInfo}}</label><br>
        <label for="startTime">Start time</label><br>
        <input type="text" id="startTime" name="startTime"><br>

        <label for="priority">Priority</label><br>
        <input type="text" id="priority" name="priority"><br><br>

        <p>Behaviour de la tarea:</p>
        <label for="type">Type</label><br>
        <input type="text" id="type" name="type"><br>
        <label for="duration">Duration</label><br>
        <input type="text" id="duration" name="duration"><br>

        <input id="clickMe1" type="button" value="Nuevo Dato Behaviour" (click)="almacenarDatosBehaviour()" /><br><br>

        <input id="clickMe2" type="button" value="Almacenar Datos Tarea" (click)="almacenarDatosTask()" /><br>

    </form>

</div>