<div class="tituloCard">
    <mat-icon class="iconCard material-icons-outlined">poll</mat-icon>
    <span> Simulador de planificadores</span>
</div>


<div class="todos">
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
            style="background-color: aquamarine;color:black !important">
            <mat-expansion-panel-header>
                <mat-panel-title style="color:black">
                    Instrucciones
                </mat-panel-title>
                <mat-panel-description style="color:black">
                    Instrucciones para llevar a cabo la simulación.
                    {{panelOpenState ? 'Pulsa para cerrar esta ventana.' : 'Pulsa para más información.'}}
                </mat-panel-description>
            </mat-expansion-panel-header>


            El <strong>primer paso</strong> es importar los datos de las tareas que ejecutaremos en el planificador.
            Podemos hacerlo mediante dos métodos diferentes:
            <ol>
                <li><strong>Subida de datos manual.</strong> Especificamos en el formulario la información que describe
                    cada tarea.
                    Cada una de estas tareas contiene la siguiente información:<br>
                    <ul>
                        <li><strong>Start time:</strong> Valor numérico que hace referencia al instante de
                            tiempo en
                            la
                            que
                            se ejecuta la tarea.</li>
                        <li><strong>Priority:</strong> Valor numérico que hace referencia al valor de la
                            prioridad
                            que
                            tiene
                            esta tarea respecto a otras.</li>
                        <li><strong>Behaviour:</strong> Este campo está formado a su vez por dos: Type y
                            Duration.
                            Podemos
                            tener diferentes valores para el comportamiento (behaviour) de la tarea.</li>
                        <ul>
                            <li><strong>Type</strong> Valor numérico que referencia el tipo de comportamiento.
                            </li>
                            <li><strong>Duration</strong> Valor numérico que referencia a la duración que tendrá
                                el
                                comportamiento de la tarea.</li>
                        </ul>
                    </ul>
                    <p style="color:#5678ef"><strong>Información relevante: Se deben introducir primeramente los datos
                            del behaviour. Como mínimo debe tener un tipo cada tarea. Una vez añadidos mediante el botón
                            <i>Añadir datos behaviour</i>, podremos añadir la tarea con el botón <i>Añadir datos
                                behaviour</i>. </strong></p>

                </li>
                <li>
                    <strong>Subida de archivo local.</strong> Debemos seleccionar el archivo en nuestro equipo. Este
                    debe tener formato JSON, como en la estructura siguiente:
                    <pre>
                    &#123;
                        "tasks": [
                        &#123;
                            "command": "T1", "start_time": 0, "priority": 99, "behaviour": [
                            &#123; "type": 0, "duration": 4 &#125;]
                        &#125;,
                            &#123;
                            "command": "T2", "start_time": 0, "priority": 99, "behaviour": [
                            &#123; "type": 0, "duration": 4 &#125;]
                        &#125;,
                            &#123;
                            "command": "T3", "start_time": 0, "priority": 99, "behaviour": [
                            &#123; "type": 0, "duration": 4 &#125;]
                        &#125;]
                    &#125;
                        </pre>
                    <p style="color:#5678ef"><strong>Información relevante: En caso de no tener un archivo correcto,
                            saldrá un mensaje de error</strong></p>
                </li>

            </ol>
            Veremos en los datos cargados el resultado de la importación manual o local.
            <br><br>El <strong>segundo paso</strong> es seleccionar el planificador que queremos que ejecute la
            planificación de entre las opciones mostradas. Se mostrará una tabla con los resultados por cada tiempo de
            reloj.

        </mat-expansion-panel>
    </mat-accordion>



    <mat-grid-list cols="3" rowHeight="550" [gutterSize]="'5px'">
        <mat-grid-tile>



            <form>

                <h2 class="centered-title" id="infoTarea"> {{labelInfo}}</h2>

                <mat-divider></mat-divider><br>

                <mat-form-field appearance="fill" class="col-5 leftForm " style="color: #2c1435;">
                    <mat-label>Start time</mat-label>
                    <input matInput placeholder="Ej. 0, 1, 2..." [(ngModel)]="start_time"
                        name="start_time" #startTimeField>
                </mat-form-field>



                <mat-form-field appearance="fill" id="priority" class="col-5 rightForm">
                    <mat-label>Priority</mat-label>
                    <input matInput placeholder="Ej. 4, 5, 6..." [(ngModel)]="priority"
                        name="priority" #priorityField>
                </mat-form-field>

                <br><br>
                <mat-divider></mat-divider>
                <br>

                <h4 class="centered-title">Datos behaviour</h4><br>

                <mat-form-field appearance="fill" id="type" class="col-5 leftForm">
                    <mat-label>Type</mat-label>
                    <input matInput placeholder="Ej. 0, 1, 2..."  [(ngModel)]="type"
                        name="type" #typeField>
                </mat-form-field>


                <mat-form-field appearance="fill" id="duration" class="col-5 rightForm">
                    <mat-label>Duration</mat-label>
                    <input matInput placeholder="Ej. 9, 10, 11..." [(ngModel)]="duration"
                        name="duration" #durationField>
                </mat-form-field>

                <br>

                <button mat-raised-button
                    [disabled]="!datosBehaviourCompletados() || sinRellenar(type)|| sinRellenar(duration)"
                    class="btn-behaviour" (click)="almacenarDatosBehaviour()">Añadir
                    datos
                    behaviour</button><br><br>
                <mat-divider></mat-divider><br>
                <button mat-raised-button
                    [disabled]="!datosBehaviourGuardados || sinRellenar(start_time)|| sinRellenar(priority)"
                    class="btn-centrado" color="primary" (click)="almacenarDatosTask()">Añadir tarea</button>




                <!-- 
                        <label for="infoTarea" id="infoTarea">{{labelInfo}}</label><br>
        
                        <label for="startTime">Start time</label><br>
                        <input type="text" id="startTime" name="startTime"><br>
        
                        <label for="priority">Priority</label><br>
                        <input type="text" id="priority" name="priority"><br><br>
        
                        <p>Behaviour de la tarea:</p>
                        <label for="type">Type</label><br>
                        <input type="text" id="type" name="type"><br>
                        <label for="duration">Duration</label><br>
                        <input type="text" id="duration" name="duration"><br>
        
                        <input id="clickMe1" type="button" value="Nuevo Dato Behaviour"
                            (click)="almacenarDatosBehaviour()" /><br><br>
        
                        <input id="clickMe2" type="button" value="Almacenar Datos Tarea" (click)="almacenarDatosTask()" /><br>
        -->
            </form>











            <mat-grid-tile-header>
                Subida manual de datos
            </mat-grid-tile-header>
        </mat-grid-tile>
        <mat-grid-tile>

            <div class="subida-archivo-completa">
                <div class="file-select">
                    <input #fileInput type='file' (change)="fileChanged($event)">
                </div><br>
                <p>Archivo seleccionado: {{ selectedFileName }}</p><br><br>

                <button mat-raised-button color="primary" (click)="uploadDocument(archivo)">Cargar
                    datos</button>
            </div>

            <mat-grid-tile-header>
                Subida de archivo local
            </mat-grid-tile-header>
        </mat-grid-tile>
        <mat-grid-tile>
            <pre><p>{{texto_JSONdatos}}</p></pre>
            <mat-grid-tile-header>
                Datos cargados
            </mat-grid-tile-header>
        </mat-grid-tile>
    </mat-grid-list>

    <br>
    <mat-divider></mat-divider>
    <br>
    <div class="chips-div">
        <mat-chip-listbox aria-label="Scheduling selection">
            <mat-chip-option color="dark" (click)="pulsadoFifo()">FIFO</mat-chip-option>
            <mat-chip-option color="primary" (click)="pulsadoPriorityPreemtive()">Priority: Preemptive</mat-chip-option>
            <mat-chip-option color="accent" (click)="pulsadoPriorityNonPreemptive()">Priority: Non Preemptive
            </mat-chip-option>
            <mat-chip-option color="warn" (click)="pulsadoRoundRobin()">Round-Robin</mat-chip-option>
        </mat-chip-listbox>
    </div>
    <br>
    <mat-divider></mat-divider>
    <br>

    <!-- LEYENDA DE COLORES-->
    <table *ngIf="generarTabla" class="legend">
        <tr>
            <td class="color-cell red"></td>
            <td class="label-cell">Terminated</td>
        </tr>
        <tr>
            <td class="color-cell green"></td>
            <td class="label-cell">Running</td>
        </tr>
        <tr>
            <td class="color-cell yellow"></td>
            <td class="label-cell">Ready</td>
        </tr>
    </table>


    <table mat-table *ngIf="generarTabla" [dataSource]="dataSource" class="tabla-planificador">

        <ng-container *ngFor="let header of headersTabla; let i = index" [matColumnDef]="header">
            <th mat-header-cell *matHeaderCellDef>{{ header }}</th>
            <td mat-cell *matCellDef="let element"
                [ngStyle]="{ color: (element[i] === 'Running') ? 'green' : (element[i] === 'Ready') ? 'yellow' : (element[i] === 'Terminated') ? 'red' : 'white' }">
                {{ element[i] }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="headersTabla"></tr>
        <tr mat-row [@tableAnimation] *matRowDef="let row; columns: headersTabla;"></tr>

    </table>

</div>