<mat-drawer-container class="example-container mat-typography" autosize>
    <mat-drawer style="padding:0.7rem 0rem 0.7rem 0.7rem" #drawer mode="side" disableClose="true" opened="true">

        <button mat-button style="margin-left:-2px" (click)="isExpanded=!isExpanded">
            <mat-icon aria-label="Menu" class="material-icons-outlined">menu</mat-icon>
        </button>

        <div *ngIf="isExpanded" class="headerNav">
        </div>

        <mat-nav-list style="margin-right: 0.7rem;">
            <div *ngFor="let element of menu">
                <mat-list-item (click)="navegar(element.path)">
                    <mat-icon mat-list-icon class="material-icons-outlined">{{element.icon}}</mat-icon>
                    <h4 style="font-size: 15px!important;" mat-line *ngIf="isExpanded">{{element.nombre}}</h4>
                </mat-list-item>
            </div>
        </mat-nav-list>
    </mat-drawer>

    <div class="sidenav-content">
        <nav  class="navbar fixed-top navbar-light navbar-fixed-top bg-light justify-content-between">
            <!--<a class="navbar-brand">
                <img src="assets/images/logo.png">
            </a>-->
            <form class="form-inline">
            </form>
        </nav>
        <div style="margin-top:70px">
            <router-outlet></router-outlet>
        </div>
    </div>

</mat-drawer-container>