
<H1>PÁGINA DE INICIO</H1>

<!-- <mat-grid-list cols="3" rowHeight="200" [gutterSize]="'10px'">
  <mat-grid-tile colspan="2">Tile 1
    <mat-grid-tile-header>
      First In First Out (FIFO)
    </mat-grid-tile-header>
  </mat-grid-tile>
  <mat-grid-tile>Tile 2
    <mat-grid-tile-header>
      Título de Tile 2
    </mat-grid-tile-header>
    <img src="./assets/logo_uah_dark.png">
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header>
      Título de Tile 3
    </mat-grid-tile-header>
    Tile 3
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <mat-grid-tile-header>
      Priority scheduling: Non Preemptive
    </mat-grid-tile-header>Tile 4
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <mat-grid-tile-header>
      Título de Tile 5
    </mat-grid-tile-header>
    Priority scheduling: Preemptive</mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header>
      Título de Tile 6
    </mat-grid-tile-header>Tile 6
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header>
      Título de Tile 7
    </mat-grid-tile-header>
    Tile 7</mat-grid-tile>
  <mat-grid-tile colspan="2">
    <mat-grid-tile-header>
      Round Robins
    </mat-grid-tile-header>Tile 8
  </mat-grid-tile>
</mat-grid-list>

-->


<mat-grid-list rowHeight="400">
    <mat-grid-tile>
      
      <!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>
  
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="la.jpg" alt="Los Angeles" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="chicago.jpg" alt="Chicago" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="ny.jpg" alt="New York" class="d-block w-100">
      </div>
    </div>
  
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
  
      <mat-grid-tile-header>
        
        Titulo

      </mat-grid-tile-header>
    </mat-grid-tile>
  </mat-grid-list>