
<H1>PÁGINA DE INICIO</H1>

<mat-grid-list cols="3" rowHeight="200" [gutterSize]="'10px'">
  <mat-grid-tile colspan="2">Tile 1
    <mat-grid-tile-header>
      Título de Tile 1
    </mat-grid-tile-header>
  </mat-grid-tile>
  <mat-grid-tile>Tile 2
    <mat-grid-tile-header>
      Título de Tile 2
    </mat-grid-tile-header>
    <img src="./assets/logo_uah_dark.png">
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header>
      Título de Tile 3
    </mat-grid-tile-header>
    Tile 3
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <mat-grid-tile-header>
      Título de Tile 4
    </mat-grid-tile-header>Tile 4
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <mat-grid-tile-header>
      Título de Tile 5
    </mat-grid-tile-header>
    Tile 5</mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header>
      Título de Tile 6
    </mat-grid-tile-header>Tile 6
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header>
      Título de Tile 7
    </mat-grid-tile-header>
    Tile 7</mat-grid-tile>
  <mat-grid-tile colspan="2">
    <mat-grid-tile-header>
      Título de Tile 8
    </mat-grid-tile-header>Tile 8
  </mat-grid-tile>
</mat-grid-list>