
mat-grid-tile {
    width: 100%;
    height: 50%;
    background-color: lightgrey;
    border-radius: 10px;

}

.grid-container {
    grid-row-gap: 50px;
  }
  .centrado {
      text-align:center
  }

  .todos  {
    display: block;
    margin: 20px;
    padding: 20px;
    border-width: 20px;
    }

.texto1 {
    display: block;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 100px;
    border-width: 100px;
    background-color: #565767;
    
}

.texto2 {
    display: block;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 100px;
    border-width: 100px;
    background-color:#544175;
    
}

.tituloCard {
    font-size: 28px;
    color: \$text_color;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-bottom: 0px;
    padding: 3rem 1rem 2rem 0rem !important;
    background-color: #1a0d1e;
    text-align: center;
  
  }

 .material-icons-outlined{
    margin-top:-5px !important;
}

.mat-tab-group.mat-tab-group-dynamic-height .mat-tab-body.mat-tab-body-active {
	overflow-y: hidden;
}


/* https://encycolorpedia.es/7b1fa2  paleta de colores */