.demo-table {
  width: 100%;
}

.mat-column-demo-position {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-demo-name {
  padding-left: 16px;
  text-align: center;

}

.mat-column-demo-weight {
    text-align: center;

}

.mat-column-demo-symbol1 {
    text-align: center;

}

.mat-column-demo-symbol2 {
    text-align: center;

}
.mat-column-demo-symbol3 {
    text-align: center;

}
.mat-column-demo-symbol4 {
    text-align: center;

}

.mat-column-demo-symbol5 {
    text-align: center;

}

.chips-div {
    align-items: center;
    display: flex;
    justify-content: center;
}

.mat-grid-tile  {
    background-color: #544175
  }

.tituloCard {
    font-size: 28px;
    color: \$text_color;
    margin-bottom: 0px;
    padding: 3rem 1rem 2rem 0rem !important;
    background-color: #1a0d1e;
    text-align: center;
    overflow: visible !important;
    
  }

.todos {
    margin: 40px;
}

.tabla-planificador {
    background-color: #544175 !important;
}
.legend {
  border-collapse: collapse;
  width: 200px;
  margin: 20px;
}

.color-cell {
  width: 20px;
  height: 20px;
}

.red {
  background-color: #E74C3C;
}

.green {
  background-color: #27AE60;
}

.yellow {
  background-color:#F1C40F;
}

.black {
  background-color:#17202A;
}

.pink {
  background-color:#F5CBA7;
}

.label-cell {
  padding-left: 10px;
}