.demo-table {
  width: 100%;
}

.mat-column-demo-position {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-demo-name {
  padding-left: 16px;
  text-align: center;

}

.mat-column-demo-weight {
    text-align: center;

}

.mat-column-demo-symbol1 {
    text-align: center;

}

.mat-column-demo-symbol2 {
    text-align: center;

}
.mat-column-demo-symbol3 {
    text-align: center;

}
.mat-column-demo-symbol4 {
    text-align: center;

}

.mat-column-demo-symbol5 {
    text-align: center;

}

.chips-div {
    align-items: center;
    display: flex;
    justify-content: center;
}

.tituloCard {
    font-size: 28px;
    color: \$text_color;
    margin-bottom: 0px;
    padding: 3rem 1rem 2rem 0rem !important;
    background-color: #1a0d1e;
    text-align: center;
    overflow: visible !important;
    
  }


.todos {
    height: 100%;
  }